################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cs13net9/.vs
/cs13net9/C01_AboutMyEnvironment/bin/Debug/net9.0
/cs13net9/C01_AboutMyEnvironment/obj
/cs13net9/C01_HelloCS/bin/Debug/net9.0
/cs13net9/C01_HelloCS/obj
